<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="DatabaseServer" value="127.0.0.1" />
		<add key="DatabaseName" value="e-marketplace_is" />
		<add key="DatabaseUser" value="root" />
		<add key="DatabasePassword" value="NewPassword123!" />
		<add key="DatabasePort" value="3306" />
		<add key="ReportPath" value="E-ComTrack Reports" />
	</appSettings>

	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="server=127.0.0.1;port=3306;user=root;password=NewPassword123!;database=e-marketplace_is;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe"
								  publicKeyToken="b03f5f7f11d50a3a"
								  culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0"
								 newVersion="6.0.0.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="System.Memory"
								  publicKeyToken="cc7b13ffcd2ddd51"
								  culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2"
								 newVersion="4.0.1.2" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="MySql.Data"
								  publicKeyToken="c5687fc88969c44d"
								  culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.7.0.0"
								 newVersion="9.7.0.0" />
			</dependentAssembly>

		</assemblyBinding>
	</runtime>
</configuration>